<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--组件扫描@service-->

    <!--<context:component-scan base-package="com.pinyougou.service"></context:component-scan>-->

    <!--dubbo的配置项-->
    <dubbo:application name="pinyougou-sellergoods"></dubbo:application>

    <!--注册中心-->
    <dubbo:registry protocol="zookeeper" address="192.168.25.128" port="2181"></dubbo:registry>

    <!--暴露服务的端口-->
    <dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>

    <!--dubbo的组件扫描  注解@service的开发-->
    <dubbo:annotation package="com.pinyougou.sellergoods.service"></dubbo:annotation>

    <dubbo:provider timeout="100000"></dubbo:provider>

</beans>